:root {
    --color-primary-200: #DEDEFF;
    --color-primary-300: #CCCCFA;
    --color-primary-400: #B7B7FF;
    --color-primary-500: #A0A0F5;
    --color-primary-600: #8080F2;
    --color-primary-700: #6358D4;
    --color-primary-800: #4B32C3;
    --color-primary-900: #341BAB;
    --vp-c-brand: var(--color-primary-800);
    --vp-c-brand-light: var(--color-primary-600);
    --vp-c-brand-lighter: var(--color-primary-500);
    --vp-c-brand-dark: var(--color-primary-900);
    --vp-c-brand-darker: var(--color-primary-900);
}

.dark {
    --vp-c-brand: var(--color-primary-400);
    --vp-c-brand-light: var(--color-primary-300);
    --vp-c-brand-lighter: var(--color-primary-200);
    --vp-c-brand-dark: var(--color-primary-700);
    --vp-c-brand-darker: var(--color-primary-800);
}

a > img {
    display: inline-block;
}
